<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div>
        <h3>Check Motors</h3>
        <span>Controlador de manutenção de Frota</span>
      </div>
      <hr>
      <div>
        <h3>My Gym</h3>
        <span>Controlador de acdemia</span>
      </div>
      <hr>
      <div>
        <h3>School Late</h3>
        <span>Jogo de corrida onde o ponto de chegada é a escola</span>
      </div>
      <hr>
      <div>
        <h3>EduHexa Control</h3>
        <span>Sistema de controle e acompanhamento escolar de alunos e professores</span>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
