<div class="equip">
    <div class="equipPic">
      <img src='assets/img/equip1.jpg' width='100px'>
    </div>
    <div class="equipText">
      <label class="equipName">Angelo Nogueira de Brito</label>
      <label class="equipText">Funções: Desenvolvedor, Programador, Professor</label>
      <label class="equipText">Facebook: facebook.com.br/angeloBrito</label>
      <label class="equipText">Twitter: Twitter.com/nebster</label>
      <label class="equipText">E-mail: <a href="mailto:angelo@hexacore.com.br">angelo&#64;hexacore.com.br</a></label>
    </div>
</div>
