
* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #000000;
}
/*
div {
	border: 1px solid Red;
}
*/
.content{
	display: block;
}

.top {
	display: block;
}

.logo img {
height: 100px;	
}

.menu {
	height: 97px;
	display: block;
	padding-top: 25px;
	padding-left: 60px;
}
.menu a {
	padding-right: 20px;
}
.main {
	text-align: left;
	display: block;
	width: 652px;
}

.bottom {
	display: block;
	font-size: 10px;
	color:#666666;
}
