
* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #000000;
	color:#FFFFFF;
}
/*
div {
	border: 1px solid Red;
}
*/
ul {
	list-style: none;
	display: table;
}
ul li {
	display: table-cell;
}
ul a{
	background-color: #393F4F;
	color: #FFFFFF;
	padding: 5px;
	margin-right: 3px;
	text-decoration: none;
	display: inline-block;
	width: 160px;
}
ul a:hover {
	background-color: #292D39;
	color: #FFFFFF;
	text-decoration: none;
}
.content{
	display: block;
	width: 1024px;
}

.top {
	display: block;
}

.logo {
	padding-top: 30px;
	padding-left: 10px;
}

.menu {
	height: 97px;
	display: block;
	padding-top: 25px;
	padding-left: 60px;
}
.menu a {
	padding-right: 20px;
}
.main {
	text-align: left;
	display: block;
	width: 652px;
}
.equip{
	display: table;
}

.equipPic {
	text-align: center;
	width: 200px;
	display: table-cell;
}

.equipName {
	font-size: 20px;
	font-weight: bold;
}

.equipText {
	display: block;
}

.bottom {
	display: block;
	font-size: 10px;
	color:#666666;
}

input, textarea {
	color: #6F778E;
}

.form label {
	width: 163px;
	text-align: right;
	padding-right: 10px;
	vertical-align: top;
	font-size: 12px;
	height: 21px;
}
.form input.text {
	background-color: #292D39;
	border: none;
	height: 21px;
	width: 200px;
	padding-left: 5px;
	padding-right: 5px;
}
.form textarea.text {
	background-color: #292D39;
	border: none;
	height: 80px;
	width: 200px;
	margin-bottom: 5px;
	padding: 5px;
}
.form input.submit {
	background-color: #5B6378;
	border: none;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	color: #EBECEE;
	font-size: 12px;
}
